version: "2.4"

services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  ombi:
    image: ghcr.io/linuxserver/ombi:latest
    container_name: ombi
    env_file: .env
    environment:
      - PUID=${PUID}
      - GUID=${PGID}
      - TZ=${TZ}
      - BASE_URL=/ombi
    volumes:
      - /opt/Ombi/config:/config
      - /opt/Ombi/migrate:/migrate
    ports:
      - "3579:3579"
    depends_on:
      - "mariadb"
    restart:  unless-stopped
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /var/certbot/www/:/var/www/certbot/:ro
      - /var/certbot/conf:/etc/letsencrypt/:ro
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    restart:  unless-stopped
  certbot_www:
    container_name: certbot
    image: certbot/certbot
    volumes: 
      - /var/certbot/conf:/etc/letsencrypt
      - /var/certbot/www:/var/www/certbot:rw
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /mnt/piholeopt/config-homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
